[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
boto3-stubs = {extras = ["acm-pca"],version = "*"}
pyopenssl = "*"

[requires]
python_version = "3.7"
